@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Black+Ops+One&family=Geologica:wght@300&family=Inter:wght@900&family=Jost&family=Montserrat:wght@300&family=Rajdhani&display=swap');
/* ===========================================================================================================================================================================*/
/*   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE */
/* ===========================================================================================================================================================================*/


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
    overflow-x :hidden; 
}



/* ===========================================================================================================================================================================*/
/*   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE   BOILER PLATE */ 
/* ===========================================================================================================================================================================*/
hr{
    border: 0.1px solid white;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}


/* ===========================================================================================================================================================================*/
/*   HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER */ 
/* ===========================================================================================================================================================================*/

.header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    height: 65px;
    background-color: white;


    position: sticky;
    top: 0;
}

.header_button{
    width: 5%;
    color: black;
}


 .header_logo{
    padding: 1% 0 1% 0;
    width:20%;
    font-family: 'Black Ops One';    
    color: black;
    }

 .header_menu{
    width: 55%;
    display: flex;
    justify-content: left;
    padding: 1% 0 1% 0;
    
 }

 .header_menu p{
    padding-left: 7%;
    font-family: 'Jost';
    font-weight: bolder;
 }
.header_menu p a {
    color: black;
}

.header_menu p a:hover{
    color: rgb(49, 49, 193);
}

.header_search{
    width: 20%;
}


@media (max-width: 720px) {
    .header{
        height: 50px;
    }
    .header_menu{
        display: none;
    }
    .header_search{
        display: none;
    }

    .header_logo{
        width: 95%;
        text-align: center;
        padding: 0.5% 0 0.5% 0;
    }
}



/* ===========================================================================================================================================================================*/
/*   HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER    HEADER */ 
/* ===========================================================================================================================================================================*/





.main{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
}




















/* ===========================================================================================================================================================================*/
/*   FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER */ 
/* ===========================================================================================================================================================================*/

.footer{
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-family:'Rajdhani';

}

.section1{
    display: flex;
    padding: 2% 0 2% 0;
    justify-content: space-between;

}

.logo{
    width: 50%;
    color: white;
    font-family: 'Black Ops One';    
}

#hr1{
    display: none;
}

.social{
    font-size: 20px;
    color: white;
}

.social i{
    margin:10px;
}

.social i:hover{
    color: grey;
}


.section2{
    padding: 5% 0 5% 0;
    width: 40%;
    display: flex;
    color: white;
    justify-content: space-between;
}

.outline_col1 p{
    padding: 10px;
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: space-around;
}

.section3{
    padding:7% 0 7% 0;
    color: white;
    width: 45%;
}

.section4{
    display: flex;
    justify-content: space-around;
    padding: 5% 5% 0 5%;
    color: white;
    font-size: 12px;
}

#section4_mobile{
    display: none;
}


@media (max-width: 720px) {
    .section1{
      display: block;
    }

    .logo{
        width: 100%;
        padding: 3% 3%;
    }
    .social{
        padding: 3% 3%;
    }
    #hr1{
        display: block;
    }

  }

@media (max-width:1000px) {
    .section2{

        padding: 5% 0 5% 0;
        width: 100%;
        display: flex;
        color: white;
        width: 100%;
        border: NONE;

    }

    .outline_col1{
        justify-content: space-between;
        width: fit-content;
    }

    .outline_col1 a:hover{
        color: lightgrey;

    }

    .box{
       display: block; 
    }

    .section3{
        width: 100%;
        padding: 7% 0 7% 0;
    }

    .section4{
        display: none;
    }

    #section4_mobile{
        padding: 5% 5% 0 5%;
        color: white;
        font-size: 14px;
        display: block;
        color: white;
        text-align: center;
    }

}


/* ===========================================================================================================================================================================*/
/*   FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER */ 
/* ===========================================================================================================================================================================*/